{% extends 'base.html' %}
{% block title %}{{ article.title }} | {% endblock %}
{% block description %}{{ article.description }}{% endblock %}
{% block keywords %}{{ article.keywords }}{% endblock %}
{% block main %}

  <div class="blog-post">
    <h2 class="blog-post-title">{{ article.title }}</h2>
    <p class="blog-post-meta">{{ article.date|date }}
        {% if session.logged_in %}<a href="{{ url_for('edit_article', post_id=article.id) }}">Редактировать</a>{% endif %}
    </p>
    {{ article.intro|safe }}
    {{ article.text|safe }}
  </div>

{% endblock main %}

