{% extends 'base.html' %}
{% macro input(name) -%}
      <div class="form-group {% if name.errors %}has-error{% endif %}">
        <label for="{{ name.short_name }}" class="control-label">{{ name.label }}</label>
            <br/>{{ name(**kwargs) }}
      </div>
{%- endmacro %}
{% block header %}
     <link href="/static/css/summernote.css" rel="stylesheet">
     <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <form class="form" action="{{ url_for('edit_article', pk=pk) }}" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
        <div class="form-group col-sm-6 {% if form.date.errors %}has-error{% endif %}">
            <label for="{{ form.date.short_name }}" class="control-label">{{ form.date.label }}</label>
                <div class='input-group date' id='datepicker'>
                    {{ form.date(class="form-control") }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="{{ form.published.short_name }}" class="control-label">{{ form.published.label }}</label>
                    <br/>{{ form.published }}
        </div>
        </div>
        {{ input(form.title, class="form-control") }}
        {{ input(form.intro, class="form-control", rows="3", id='intro') }}
        {{ input(form.text, class="form-control", rows="10", id='text') }}
        {{ input(form.description, class="form-control") }}
        {{ input(form.keywords, class="form-control") }}

        <button type="submit" class="btn btn-default">Отправить</button>
    </form>
{% endblock %}
{% block footer %}
    <script src="/static/js/summernote.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/locales.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/my.js"></script>
{% endblock %}