{% extends 'base.html' %}
{% block main %}

    {% for article in articles %}
              <div class="blog-post">
                <h2 class="blog-post-title"><a href="{{ url_for('view_article', slug=article.slug) }}">{{ article.title }}</a></h2>
                <p class="blog-post-meta">{{ article.date|date }}</p>
                {{ article.intro|safe }}
              </div>
    {% else %}
              <div class="blog-post">
                <h2 class="blog-post-title">Ничего не найдено</h2>
              </div>
    {% endfor %}

    <nav>
        <ul class="pager">
            {% if pagination.has_prev %}
                <li><a href="{{ pagination.prev_page }}">Обратно</a></li>
            {% endif %}
            {% if pagination.has_next %}
                <li><a href="{{ pagination.next_page }}">Туда</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock main %}

