{% extends 'base.html' %}
{% macro input(name) -%}
      <div class="form-group {% if name.errors %}has-error{% endif %}">
        {% if name.type != 'SubmitField' %}
            <label for="{{ name.short_name }}" class="col-sm-3 control-label">
                {{ name.label }}</label>
        {% else %}
            <div class="col-sm-3"></div>
        {% endif %}
        <div class="col-sm-9">
          {{ name(**kwargs) }}
        </div>
      </div>
{%- endmacro %}
{% block main %}
    <form class="form-horizontal" action="{{ url_for('login', next=next) }}" method="post">
        {{ form.hidden_tag() }}
        {{ input(form.name) }}
        {{ input(form.password, type="password") }}
        {{ input(form.submit, class="btn btn-default") }}
    </form>
{% endblock %}
